@charset "UTF-8";

div#tv-radio{
    display: block;
    max-width: 700px;
    height: 450px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
    background-size: 650px;
}

audio{
    display: block;
    position: relative;
    left: 420px;
    top: 340px;
    max-height: 50px;
    max-width: 200px;
    background-color: none;
}

video{
    display: block;
    position: relative;
    left:-129px;
    top: 30px;
    width: 330px;
}
